<!DOCTYPE html lang="es">
<html>
<head>
   
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/grid.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/jquery-1.7.2.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/menu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery-1.4.2.min.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/js/cufon-yui.js")"></script>
     <script type="text/javascript" src="@Url.Content("~/js/Bell_Gothic_Std_500.font.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Bell_Gothic_Std_700.font.js")"></script>
     <script type="text/javascript" src="@Url.Content("~/js/cufon-replace.js")"></script> 
     <script src="@Url.Content("~/ckeditor_3.6.3/ckeditor/ckeditor.js")" type="text/javascript"></script>

</head>
<body>

     <header>
        <div class="header-bg">
          <div class="container_24">
      	    <div class="logo">
                <div class="Roger">
        	        <img src="@Url.Content("~/css/images/logo3.png")" width="200px" height="100px">
                </div>
            </div>
            <nav>
              <ul>
                <li>@Html.ActionLink("HOME", "index", "Home")</li>
                <li>@Html.ActionLink("LIBRO", "mostrarlibro", "libro")</li>
                <li>@Html.ActionLink("ARTICULOS", "mostrarticulo", "articulos") </li>
                <li>@Html.ActionLink("TUTORIALES", "mostrartutorial", "tutoriales") </li>
                <li>@Html.ActionLink("CURSOS", "mostrarcursos", "cursos") </li>
                <li>@Html.ActionLink("REGISTRATE", "perfil", "perfil") </li>
                <li>@Html.ActionLink("PERFIL", "log", "Home")</li>
                <li>@Html.ActionLink("LOGIN", "LogOn", "Account") </li>
              </ul>
            </nav>
            <a href="#" class="rss">@Html.Partial("_LogOnPartial")</a>
            <a href="#" class="main-banner"><img src="@Url.Content("~/css/images/banner.png")" width="962px" height="320px"></a>
          </div>
        </div>

    </header>
   
        <section id="section">
            @RenderBody();
        </section>

    <div id="fot"> 
        <footer>
            <div class="container_24">
    	        <div class="wrapper">
      	        <div class="copy">Ingenieria de Sistemas &copy; Reynaldo Bejarano </div>
                <nav>

                  <ul>
                      @if (Roles.IsUserInRole("administrador"))
                      {
                        <li>@Html.ActionLink("USUARIOS", "Usuarios", "moderacionusuarios") </li>
                        <li>@Html.ActionLink("CATEGORIAS", "Categorias", "moderacioncategoria") </li>
                        <li>@Html.ActionLink("COMENTARIOS", "mostrarmoderacion", "moderacioncomentario")</li>
                        <li>@Html.ActionLink("LIBRO", "mostrar", "moderacioncontenidos")</li>
                        <li>@Html.ActionLink("ARTICULOS", "moderarticulo", "moderacioncontenidos") </li>
                        <li>@Html.ActionLink("TUTORIALES", "moderartuto", "moderacioncontenidos") </li>
                        <li>@Html.ActionLink("CURSOS", "moderarcurso", "moderacioncontenidos") </li>
                        
                      }
                      else
                      {
                        <li>@Html.ActionLink("HOME", "index", "Home")</li>
                        <li>@Html.ActionLink("LIBRO", "mostrarlibro", "libro")</li>
                        <li>@Html.ActionLink("ARTICULOS", "mostrarticulo", "articulos") </li>
                        <li>@Html.ActionLink("TUTORIALES", "mostrartutorial", "tutoriales") </li>
                        <li>@Html.ActionLink("CURSOS", "mostrarcursos", "cursos") </li>
                        <li>@Html.ActionLink("REGISTRATE", "perfil", "perfil") </li>
                        <li>@Html.ActionLink("PERFIL", "log", "Home")</li>
                        <li>@Html.ActionLink("LOGIN", "LogOn", "Account") </li>
                            
                      }
          	          
                  </ul>
                </nav>
              </div>
            </div>
        </footer>
     </div>
</body>
</html>