<!DOCTYPE html lang="es">
<html>
<head>
   
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/jquery-1.7.2.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/menu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>

	<section id="todo">
	<br>
		<header>

			<div id="container">
                       <div>@Html.Partial("_LogOnPartial") </div>
			          <div style="margin: 0 auto;">
			            <img src="@Url.Content("~/css/images/1.jpg")" width="100%" heigth="200"> </img>
			          </div>

			</div>
		</header>
		<nav>
			<div id="menu" >
				<ul id="nav">
					<li><a href="1.html">HOME</a></li>
					<li>@Html.ActionLink("MOSTRAR","log","Home")</li>
					<li><a href="#">ARTICULOS</a></li>
					<li><a href="#">TUTORIALES</a></li>
					<li><a href="#">CURSOS</a></li>
                    <li>@Html.ActionLink("LOG ON..","LogOn","Account") </li>
                    <li>@Html.ActionLink("INFORMACION","perfil","perfil") </li>
					    
				</ul>
			</div>
		</nav>
		
		</br>


<section id="section">
		@RenderBody();


</section>
		
	<footer>copyringht</footer>
	</section>
</body>
</html>
