@{
    ViewBag.Title = "detallecomen";
}

<h2>detallecomen</h2>
<div class="container_24">
    <div class="row">
        <div class="wrapper">
            <div class="grid_16">
                <div class="box">
                        
                        <b><h4> COMENTARIO</h4></b><br/>
                 
                        @foreach (var item in @ViewBag.detallecome)
                        {
                           <br/>
                            string ruta1 = "/imagenes/" + @item.avatar;
                            //int ide = @item.id;
                            //int idep = @item.id_cont;
                            <img src="@ruta1" alt="por si no da" class="comentario_ident2"/>
                            <h4>@item.fecha</h4> <div class="derecha"> @Html.ActionLink(" ", "moderar", new { id = @item.id }, new { @class = "button2" })  </div> 
                            <h4>@item.nombre Dice :</h4> 
                            @item.contenido<br/>
                             
                        }


                        
                </div>
                
            </div>
        </div>
    </div>
</div>