@model proyecto.Models.comentarios
@{
    ViewBag.Title = "detalle";
}

@*@ViewBag.hola*@
<h4 id="ps">DETALLE DEL LIBRO<h4> 
@foreach (var item in @ViewBag.lista2)
{
    string ruta = "/Content/imagenes/" + @item.portada;
    string ruta1 = "/Content/libros/" + @item.contenido;

    string titulo = @item.titulo;
    int ide = @item.id;
    int idpub = @item.id; 

   
  	    <div class="container_24">
    	    <div class="row">
      	    <div class="wrapper">
        	    <div class="grid_16">
          	    <div class="box">
                  <div class="wrapper">
                 
              	    <img src="@ruta" alt="por si no da" class="img-indent">
                    <br/><a href="@ruta1" >Descarga Libro Aqui</a> 
                    <h4 class="alt"> @Html.ActionLink(titulo, "detalle", new { id = ide })</h4>
                    <h4>Autor :  @item.autor</h4>
                    <h4>Año de Publicacion: @item.año</h4>
                    <h4>Tamaño de Archivo: @item.tamaño</h4>
                    
                    <h4>@item.fecha_publicacion</h4>
                     <iframe src="@ruta1" width="500" height="500"></iframe>
                   
                  </div>
                  <br/>
                  <br/>
                      @if (ViewBag.con==0)
                      {
                           @Html.ActionLink("me gusta", "../libro/megusta", new { id = idpub }, new { @class="gusta"})
                      }
                      else
                      {
                          @Html.ActionLink("ya no me gusta", "../libro/nomegusta", new { id = idpub }, new { @class="nogusta"})  
                      }
                      
                      
                      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<text>comentarios : @ViewBag.contadorcomen </text> <br/>
                        <text>A  @ViewBag.contador  Personas le gusta esto </text><br/>
                            
                </div>
              </div>
        </div>
        </div>
      </div>
    
                            //int idpub = @item.id; 
  @*  @Html.ActionLink("comentar", "mostrarcomentario","comentario", new { idpub })*@



     <form enctype="multipart/form-data" method="post" action="@Url.Action("../comentario/comentario")" class="contacto">
    
    <div>
        
            <legend id="hhh">DEJE SU COMENTARIO</legend>
            <br/>
                    <div>
                            @*<input type="hidden" value="idpub" class="tasks" name="id" />*@
                             @* @{Html.RenderPartial("comentario");}
                              @Html.Hidden("x=>x.id_conte",  "idpub")*@
                    
                            <div>
                                    @Html.LabelFor(m => m.contenido)
                            </div>
                            <div>
                                    @Html.TextAreaFor(m => m.contenido)
                                     @Html.ValidationMessageFor(m => m.contenido)
                            </div>

                            <div>
                                @Html.HiddenFor(m => m.id_conte, new { @Value = idpub })
                                @*@Html.TextBoxFor(m => m.id_conte, new { @Value = idpub })*@
                            </div>
                    </div>
                   

            

            <p>
                <input type="submit" value="Enviar" />
            </p>
            

        </div>
    </form>
  
} 
</br>
<div class="container_24">
    <div class="row">
        <div class="wrapper">
            <div class="grid_16">
                <div class="box">
                        
                        <b><h4> COMENTARIOS</h4></b>
                 
                        @foreach (var i in @ViewBag.comentarios)
                        {
                           @* <text>_______________________________________________________________________________________</text>*@
                            <br/><br/>
                            string ruta1 = "/imagenes/" + @i.avatar;
                            <img src="@ruta1" alt="por si no da" class="comentario_ident"/>
                            <h4>@i.fecha</h4>
                            <h4>@i.nombre Dice :</h4> 
                            @i.contenido<br/>
                      
                        }

                        
                </div>
                
            </div>
        </div>
    </div>
</div>


