@model proyecto.Models.libromodel

@{
    ViewBag.Title = "REGISTRAR LIBRO";
}

<h2>insertarlibro</h2>
<h2 id="ps">Registrar Informacion de Libro </h2>
<h5 id = "ps">si ustede desea visualizar libros vea @Html.ActionLink(" aqui ","mostrarlibro") </h5  >

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<form enctype="multipart/form-data" method="post" action="@Url.Action("insertarlibro")">
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset id="registrarr2">
            <legend id="hhh">Registrar Datos de Libro</legend>

            @{Html.RenderPartial("FormPublicacion");}

            <div>
                @Html.LabelFor(m => m.autor)
            </div>
            <div>
                @Html.TextBoxFor(m => m.autor)
                @Html.ValidationMessageFor(m => m.autor)
            </div>
             <div>
                @Html.LabelFor(m => m.año)
            </div>
            <div>
                @Html.TextBoxFor(m => m.año)
                @Html.ValidationMessageFor(m => m.año)
            </div>
            <div>
                @Html.LabelFor(m => m.categoria)
            </div>
            <div>
                @Html.TextBoxFor(m => m.categoria)
                @Html.ValidationMessageFor(m => m.categoria)
            </div>


            <div>
                @Html.LabelFor(m => m.idioma)
            </div>
             <div>
                @Html.DropDownListFor(m => m.idioma, new[]{new SelectListItem{Value="Español",Text="Español"},
                                                        new SelectListItem{Value="Ingles",Text="Ingles"},
                                                        new SelectListItem{Value="Fraces",Text="Frances"},
                                                        new SelectListItem{Value="Aleman",Text="Aleman"}},"Seleccionar opcion")
                @Html.ValidationMessageFor(m => m.idioma)
            </div>
            <div>
            @Html.LabelFor(m => m.contenido)
            </div>
            <div>
               <input type="file" name="contenido"/>
            </div>


            <p>
                <input type="submit" value="Register" />
            </p>
            

        </fieldset>
    </div>
</form>

@*@section barraperfil{
    @{Html.RenderPartial("barralateral");}
}
*@
