
@{
    ViewBag.Title = "libros";
   
}
@*@{
    string img = "~/Content/imagenes/" + ViewBag.item.portada;    
}*@
<h5> @ViewBag.mensaje </h5>
<br/>
<h4 id="ps">DESEA PUBLICAR UN LIBRO HAGA CLICK @Html.ActionLink("AQUI", "insertarlibro", "libro")</h4><br/><br/>
@foreach (var item in @ViewBag.lista1)
{
    string ruta = "../Content/imagenes/" + @item.portada;
    string titulo = @item.titulo;
    int ide = @item.id;  

    <div class="Roger">
  	    <div class="container_24">
    	    <div class="row">
      	    <div class="wrapper">
        	    <div class="grid_16">
          	    <div class="box">
                  <div class="wrapper">
                 
              	    <img src="@ruta" alt="por si no da" class="img-indent">
                    <h4>Publicado por : @item.nombre @item.apellido</h4>
                    <h4 class="alt"> @Html.ActionLink(titulo,"detalle", new {id= ide})</h4>
                    <h4> @item.autor</h4>
                    <h4> </h4>
                    
                    @item.descripcion

                  </div>
                </div>
              </div>
        </div>
        </div>
      </div>
    </div>
} 

