@{
    ViewBag.Title = "mostrarticulo";
}

<h4 id="ps">ARTICULOS PUBLICADOS</h4><br/>
<h4 id="ps">DESEA PUBLICAR UN ARTICULO HAGA CLICK @Html.ActionLink("AQUI", "articulos", "articulos") </h4><br/><br/>
@foreach (var item in @ViewBag.lista1)
{
    string imagen1 = "/Content/imagenes/" + @item.portada;
    string titulo = @item.titulo;
    int ide1 = @item.id;  

    <div>
  	    <div class="container_24">
    	    <div class="row">
      	    <div class="wrapper">
        	    <div class="grid_16">
          	    <div class="box">
                  <div class="wrapper">
                 
              	    <img src="@imagen1" alt="por si no da" class="img-indent">
                    <h4 class="alt">@Html.ActionLink(titulo, "detallearti", new { id=ide1 })</h4>
                    <h4>Publicado por  @item.nombre  @item.apellido</h4><br/>
                    <h4> @item.fecha_publicacion</h4><br/>
                    @item.descripcion
                   

                  </div>
                </div>
              </div>
        </div>
        </div>
      </div>
    </div>
} 
