@model  proyecto.Models.curso1
@{
    ViewBag.Title = "cursos";
}

<h4>PUBLICAR CURSO</h4>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h5 id = "ps">si ustede desea visualizar libros vea @Html.ActionLink(" aqui ","mostrarcursos") </h5  >
<form enctype="multipart/form-data" method="post" action="@Url.Action("insertar")">
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset id="registrarr3">
            <legend id="hhh">Registrar Datos aqui</legend>
            @{Html.RenderPartial("FormPublicacion");}
            <div>
                @Html.LabelFor(m => m.categoria)
            </div>
            <div>
                @Html.TextBoxFor(m => m.categoria)
                @Html.ValidationMessageFor(m => m.categoria)
            </div> 
             <div>
                @Html.LabelFor(m => m.contenido)
            </div>
            <div>
              @*  @Html.EditorFor(m => m.contenido)*@
              
              @Html.TextAreaFor(m => m.contenido, new { @class="ckeditor"})
            </div>
    
            <p>
                <input type="submit" value="Register" /  class="button">
            </p>
            

        </fieldset>
    </div>
</form>
